*{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
}
.nav1{
    background-color: #F5F5F5;
}
.nav1-div{
    display: flex;
    justify-content: space-between;
    width: 92vw;
    margin: auto;
    padding: 7px;
}
.right-nav1-div{
    display: flex;
    gap: 10px;
    font-size: 12px;
    font-weight: 550;
}
.nav2-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92vw;
    margin: auto;
    padding: 7px;
}
.right-nav2-div{
    display: flex;
    gap: 20px;
}
.right-nav2-div input{
    border: none;
    background-color: #F5F5F5;
    border-radius: 20px;
    height: 30px;
}
.middle-nav2-div{
    display: flex;
    gap: 30px;
    font-weight: 550;
}
.bar-1{
    background-color: #F5F5F5;
    text-align: center;
}
.bar-2{
    text-align: center;
    width: 990px;
    margin: auto;
}
.bar-2 button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.post-1{
    width: 92vw;
    margin: auto;
}
.post-1 img{
    width: 92vw;
}
.section-1{
    width: 92vw;
    margin: auto;
}
.s1-main-card{
    display: flex;
    gap: 10px;
    overflow: scroll;
}
.s2-main-card{
    display: flex;
    gap: 15px;
    overflow: scroll;
}
.s2-text{
    padding-left: 60px;
}
.section-4{
    padding-left: 60px;
}
.list-1{
    width: 55vw;
    margin: auto;
}
.list-1 table{
    text-align: left;
}
.list-1 table td,.list-1 table th{
    padding: 10px 40px;
}
.list-2{
    display: flex;
    justify-content: space-between;
    width: 92vw;
    margin: auto;
}
.table-2{
    text-align: left;
}
.table-2 td{
    padding-right: 200px;
}
.table-2 td,.table-2 th{
    padding-bottom: 10px;
}
footer{
    width: 92vw;
    margin: auto;
    display: flex;
    gap: 30px;
    font-size: 14px;
    color: rgb(73, 72, 72);
}

.container{
    display: flex;
    width: 92vw;
    margin: auto;
}
.con-left{
    width: 240px;
}
.con-left div{
    padding-right: 80px;
    padding-bottom: 18px;
}
.con-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: auto;
}
.shoe-bar{
    display: flex; 
    width: 92vw; 
    margin: auto;
    justify-content: space-between;
}